aws-cdk.aws-appstream==1.153.1
aws-cdk.aws-cloudwatch==1.153.1
aws-cdk.aws-events==1.153.1
aws-cdk.aws-events-targets==1.153.1
aws-cdk.aws-iam==1.153.1
aws-cdk.aws-kms==1.153.1
aws-cdk.aws-lambda==1.153.1
aws-cdk.aws_lambda_event_sources==1.153.1
aws-cdk.aws-s3==1.153.1
aws-cdk.aws-s3-assets==1.153.1
aws-cdk.aws-s3-deployment==1.153.1
aws-cdk.aws-sagemaker==1.153.1
aws-cdk.aws-ssm==1.153.1
aws-cdk.core==1.153.1
aws-cdk.aws-cloudformation==1.153.1
aws-cdk.custom-resources==1.153.1
aws_cdk.aws_logs==1.153.1
boto3==1.14.17